.top{
    text-align: center;
    font-weight: bold;
    margin-top: 160px;
    margin-bottom: 17px;;
}
.port{
width:62%;
display:grid;
grid-template-columns: repeat(3,1fr);
/* border:1px solid red; */
margin:auto;
gap:48px;
text-align:left;
line-height: 25px;
height:auto;
font-size:16px;
}

.port>div{
justify-content: center;
}
.port>div>img{
width:100%;
}
 #btn{
  width:170px;
  height:90px;
   margin:auto;
  padding-top:40px ;
   
} 
button{
 width:45px;
 height:36px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }  

#btn>button:hover{
    border-color: black;
    background-color:white;
}
.port>div>p{
    margin-top: 10px;
}
.port>div>p:nth-child(4){
    font-size: 17px;
}
.port>div>h4{
    font-size: 17px;
}
@media (max-width:780px){
	.port{
		padding-right: 20px;
    padding-left: 20px;
	}
    .top{
        text-align: center;
        font-weight:200;
        margin-top: 160px;
        margin-bottom: 17px;;
    }
    #btn{
        margin-top: 20px;
    }
	
}
