#testimony{
    display: grid;
    width: 80%;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 80px;
    margin-top: 80px;
}
#testimony div{

      background-color: #f6faf8;
      padding: 5px;
}
#insta-grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#insta-feed{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
}

#insta-grid img{

width: 100%;
}

#insta-grid div:hover{
   /* background-color: black; */
    opacity: 0.6;
     background-image: url("https://instafeed.nfcube.com/assets/img/instagram-icon.svg");
     background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 20px 20px; */
 overflow: hidden;
 
}
#wisdom{
    display: flex;
    /* flex-wrap:wrap ; */
    text-align:start;
    width: 80%;
    margin: auto;
    align-items: flex-start;
   background-color: #f6faf8;
   padding: 1.5rem !important;
gap: 20px;
margin-bottom: 40px;
}
#wisdom img{
    width: 150px;
  
    
}
/* #right-wisdom{
    text-align: justify;
   
} */
#right-wisdom h1{
    font-size: 29px;
    line-height: 1.4;
    padding-bottom: 15px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    letter-spacing: 0.03em;
}
#right-wisom p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}
.swiper-navBtn{
    /* display: block;
    position: absolute;
    top: 7px;
    font-family: 'fyanka';
    font-size: 23px;
    line-height: 1; */
    color: #777777;
}
.swiper-navBtn::before,.swiper-navBtn::after{
    font-size: 20px;
}
.swiper-button-next{
top: 0;
}
#slider-body{
    margin-top: 40px;
    width: 80%;
    margin: auto;
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
/* .card{
width: 320px;
} */
#mid-section{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    padding-bottom: 23px;
}
.name{
    font-size: 18px;
    font-weight: 500px;
    color: #333333;
}
.description{
    font-size: 14px;
    color: #777777;
    text-align: center;
}
.slide-content{
    margin:0 40px; ;
    overflow: hidden;
  
}
.image-content,.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    row-gap: 5px;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.button{
    /* display: flex; */
    border: none;
    font-size: 10px;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #a3b49b;
    margin: 14px;
    cursor: pointer;
 
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    /* background-color: ; */
}
/* .overlay{
    position: absolute;
     
}*/


#top{
    background-image: url("https://cdn.shopify.com/s/files/1/0399/1728/9633/files/hero-desktop-ashwagandha_x720_78e6b5a9-d578-413f-8100-33c881ca05f7.webp?v=1660561979");
    /* display: flex; */
    min-height: 500px;
    align-items: center;
    width: 100%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
left: 0;
right: 0;


}
#body-container{
    width: 100%;
   margin-top:100px;
   
height: auto;

}
#footer{
    width: 100%;
    background-color: #eef2f0;
    color: #777777;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 40px;
	/* position: absolute;
	bottom: 0;
	width: 100%; */
}
#footer-div{
  
    width: 80%;
    margin: auto;
	
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
	font-size: 18px;
	margin-bottom: 40px;
}
#footer-email{
    width: 24px;
    height: 24px;

}
#footer-bottom{
    width: 80%;
    margin: auto;
}
#dis{
border: 1px solid black;
font-size: 13px;
color: #333333;
padding: 10px;
}
#email-div{
    background-color: white;
  display: flex;
  width: 70%;
  padding: 5px;
  
}
/* #footer-email{
	
} */
#email-div input{
    border: none;
}
#right-nav{
	display: none;
}


#footer-div h2{
	font-size: 18px;
	color: #333333;
	
}
#footer-div p{
	font-size: 16px;
	margin-bottom: 10px;
}
#footer-div a{
	text-decoration: none;
	color:#888888 ;
	
	
}
#footer-div div{
	line-height: 1.35;
}
#footer-div div h2:first-child{
	margin-bottom: 15px;
}
#footer-bottom p{
	margin-bottom: 10px;
}
#mid-section{
	
	width: 100%;
	margin-top: 700px;
	text-align: center;
}
#shop-by-category{
	display: grid;
	width: 80%;
	grid-template-columns: repeat(3,1fr);
	gap: 20px;
	height: auto;
	margin: auto;
	margin-top: -200px;
	/* overflow: hidden; */
    margin-bottom: 50px;
}
#shop-by-category img{
	
	width: 80%;
	/* display: block; */
	transition: transform 1s;
	margin: auto;
	margin-top: 280px;
	margin-bottom: 40px;
}
#shop-by-category img:hover  {
	transform: scale(1.2);
}
h1, h2, h3, h4, h5, h6 {
    /* display: block; */
  
    font-family: Poppins, sans-serif;
    color: #333333;
    
}
#shop-by-category div h2{
	font-size: 18px;
    line-height: 26px;
    top: 0px;
    /* margin: 22px 0px 0; */
	text-align: center;
}
#shop-by-category div a{
	text-decoration: none;
}

#shop-by-category div p{
	color: #a3b49b;
    font-size: 14px;
    line-height: 17px;
    /* margin: 5px 5px 0 29px;
    padding: 5px 0px 4px; */
    font-weight: 500;
    line-height: 1;
    border: none;
    outline: none;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
	
	
}
#hide-aswa{
    display: none;

}
 #aswagandha{
  
   margin-top: 50px;
    color: #333333;
   width: 35%;
   display: block;

} 
/* #aswagandha ~ div{
    margin-left: 140px;
    margin-top: 15px;
} */
#aswagandha>#aswagandha-heading{
    font-size: 46px;
        position: relative;
    z-index: 0;
    display: inline-block;
    margin-bottom: 5px;
    background: rgb(255, 255, 255,0.8);
    /* font-weight: 500px; */
    color: #333333;
   font-weight: 500;
   padding-bottom: 17px;
   padding-right: 20px;
   padding-top: 5px;
   
} 
#aswagandha-heading>p{
    margin-left: 180px;
}
 #aswagandha>#aswagandha-heading ~p{
    font-size: 16px;
    margin-left:180px;
  
        font-size: 18px;
        line-height: 28px;
        margin-top: 11px;

}

#aswagandha-btn{
    height: 50px;
    padding-left: 48px;
    padding-right: 48px;
    color: rgb(255, 255, 255);
    background: rgb(72, 202, 178);
    margin-top: 25px;
    margin-left:180px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 33px;
    
}

#aswagandha-btn:hover{
    background-color: rgb(51, 51, 51);
    transition: all 0.25s ease-in;
} 
/* #shop-by-category p:hover{

} */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #e0e5de;
 
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: 
    #a3b49b;
    transform-origin: center;
    transition: transform 0.25s ease;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin:center;
  }
@media(max-width: 991px){
	#footer-div{
  
		
		grid-template-columns: repeat(3,1fr);
		
		
	}
    #aswagandha{
display: none;
    }
    #aswagandha ~ div{
     display: none;
    }
	#shop-by-category{
	
		grid-template-columns: repeat(2,1fr);
		gap: 5px;
	/* margin-bottom: 280px; */
	}
	#shop-by-category div{
		margin-top: -40px;
	}
	#shop-by-category div:first-child{
		margin-bottom: -180px;
	}
	#shop-by-category div:nth-child(2){
		margin-bottom: -180px;
	}
    #wisdom{
flex-wrap: wrap;
    }
    #hide-aswa{
        display: block;
    color: #333333;
    margin-top: 150px;
    }
	
}
@media(max-width:720px){
	

	#footer-div{
  
		
		grid-template-columns: repeat(2,1fr);
		
		
	}
	.logo{
	margin-left:-160px ;
	}
	#shop-by-category{
	
		grid-template-columns: repeat(1,1fr);
	/* margin-bottom: 300px; */
	}
	#shop-by-category img{
		overflow: hidden;
		width: 50%;
		}
        #gayab1{
            display: none;
        }
        #gayab2{
            display: none;
        }
}
@media(max-width:432px){

	#footer-div{
  
		
		grid-template-columns: repeat(1,1fr);
		
	
	}
	#shop-by-category img{
		overflow: hidden;
		width: 50%;
		}
	#top{
		background-position:  center;
		background-image: none;
		}
		.hero-header__mobile-image{
			display: block;
			height: auto;
			margin-top: -220px;
		}
		#body-container{
			
		   height:auto;
		
		}
		.logo{
			margin-left:10px ;
			}
			#shop-by-category{
	
				grid-template-columns: repeat(1,1fr);
			gap: 5px;
			}
            #gayab1{
                display: none;
            }
            #gayab2{
                display: none;
            }
}