
#hs{
    display: flex;
}
#side{
    text-align: center;
   margin-top: 60px;
   margin-right: 30px;
    width:15%
}
header+h1{
    margin-top: 200px;
    margin-left: 200px;
  }
#side a{
    text-decoration: none;
    color: rgb(122, 109, 93);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#side>h1 a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

}
#container{ 
    margin-top: 50px;
    margin-left: 50px;
    width:75%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#container button{
    background-color: rgb(204, 193, 172);
    padding: 10px 10px;
    border:0px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    
}
#container button:hover{
    background-color: rgb(110, 110, 98);
}
#container img{
    width: 200px;
    height: 200px;
   margin-bottom: 30px;
}
#container div{
    color: rgb(87, 76, 55);
}
#sortName{
    position:relative;
    right:-500px;
}
#cont{
    width:90%;
    margin:auto;
    display: flex;
}
#cont div1{
    display: flex;   
    justify-content: flex-start;
}
#cont div2{
    display: flex;   
    justify-content: flex-start;
}

#cont img{
    width:400px;
    height:400px;
}
#cont p{
    position: relative;
    top:100px;
    left:-300px;
    width:80%;
}
  /* Medium Screen */
  @media only screen and (min-width: 500px) and (max-width: 768px){
    #container{     
        width:100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    #side{
  
    display: none;
    }
    #sortName{
        position: relative;
        right:auto;
    }
    
  }
    /* small screen     */
  @media only screen and (min-width: 100px) and (max-width: 499px){
    #container{     
        width:100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    #side{
  
       display: none;
    }
    #sortName{
        position: relative;
        right:auto;
    }

  }