#top{
    background-image: url("https://cdn.shopify.com/s/files/1/0399/1728/9633/files/hero-desktop-ashwagandha_x720_78e6b5a9-d578-413f-8100-33c881ca05f7.webp?v=1660561979");
    display: flex;
    min-height: 500px;
    align-items: center;
    width: 100%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
left: 0;
right: 0;

}
#body-container{
    width: 100%;
   margin-top:-600px;
   height: 600px;
   
}