#content{
    margin-top:160px;
     width:100%;
     height:auto;
 }
 #content>#cnt2{
     /* border:1px solid rgb(226, 19, 19); */
     width:65%;
     height:auto;
     margin:auto;
     margin-top:70px;
 }
 #cnt2>h3{
     font-size: 24px;
     font-family: Poppins, sans-serif;
     font-weight: 480;
 }
 #cnt2>h4{
     font-size: 17px;
     font-family: Poppins, sans-serif;
     font-weight: 480;
     margin-top: 19px;
 }
 #cnt2>p{
     font-size: 15px;
     font-family: Poppins, sans-serif;
     font-weight: 480;
     margin-top: 46px;
     color:#555555;
     line-height:29px;
 }
 #cnt2>h5{
 font-size:18px; 
 font-family: Poppins, sans-serif;
     font-weight: 480;
 }
 #cnt2>h6{
     font-size: 15px;
     font-family: Poppins, sans-serif;
     font-weight: 480;
     color:#555555;
     line-height:31px;
     
 }
 #cnt2>.para{
     font-size: 15px;
     font-family: Poppins, sans-serif;
     font-weight: 480;
     margin-top: 16px;
     color:#555555;
     line-height:29px;
 }