#store{
	margin-top:160px ;
    width:100%;
    height:800px;
    /* margin:auto; */
    font-size: 44px;
    font-family: Poppins, sans-serif;
   
}
#s_head{
	margin-top:60px ;
    width:65%;
    height:100%;
    /* border:1px solid rgb(76, 0, 255); */
    margin:auto;
}
#inp{
    width:100%;
    height:130px;
    /* border:1px solid red; */
    margin:auto;
}
#inp>#box{
    margin-bottom:60px;
    height:35px;
    width:95%;
    text-indent:10px;
}
#s_bot{
    display:flex;
    width:100%;
    height:84%;
    /* border:1px solid green; */
    margin:auto;
    gap:10px;
    margin-top:20px;
}
 #one{
    display:flex;
    width:35%;
    height:100%;
    /* border:1px solid rgb(117, 0, 128); */
    border-top:dotted ;
    border-color: #777777;
    border-width: 2px; 
    gap:2px;
} 
#two{
    width:100%;
    height:auto;
    /* border:1px solid rgb(117, 0, 128); */

} 
#btn{
    background-color:black ;
    height:34px;
    width:40px;
}
#data{
    font-size: 14.9px;
    font-family: Poppins, sans-serif;
}
#pic{
    width:15px;
    height:15px;
    margin-top:5px;

}





   